body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

.logo_box {


  display: flex;
  width: 100%;
  justify-content: start;
  background: none;
  border: none;
}
.logo {
  justify-content: start;
  top: 0%;
  left: 0%;
  font-family: "Island Moments";
  background: none;
  border: none;
  color: transparent;
  font-size: 2.5em;
  padding: 0.5em 1em;

  background-image: linear-gradient(
    to right,
    rgb(66, 133, 244),
    rgb(217, 101, 112)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ------------Start-------------------------------------------------------------------- */
.start {
  width: 100%;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: extra-bold;
}

.Title_start {
}
.Title1 {
  left: 200px;
  margin-left: 100px;

  font-weight: 800;
  font-size: 96px;
  background-image: linear-gradient(
    to right,
    rgb(66, 133, 244),
    rgb(217, 101, 112)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle1 {
  width: 993px;
  left: 350px;
  top: 187px;
  font-style: italic;

  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #050315;

  backdrop-filter: blur(2px);
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
.subtitle2 {
  position: flex;
  width: 145px;
  left: 413px;
  top: 360px;
  font-style: italic;

  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  color: #050315;
}
.Computer {
  margin-left: 100px;

  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  background: linear-gradient(
    90.25deg,
    #4285f4 0.22%,
    rgba(217, 101, 112, 0.9) 90.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ------------Start-------------------------------------------------------------------- */

/* ------------Resume-------------------------------------------------------------------- */
.Resume_box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.Resume {
  display: flex;
  cursor: pointer;
  /* Añadido para alinear verticalmente el texto y la imagen */
  justify-content: center;
  align-items: center;
  background: none;
  transition: transform 0.3s ease; /* Añade una transición suave al efecto de zoom */
}
.Resume:hover {
  transform: scale(
    1.1
  ); /* Aumenta el tamaño del botón un 10% al pasar el mouse sobre él */
}
.logo_resume {
  width: 30px;
}

.resume_text {
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  padding-left: 10px;
  font-size: 21px;
  line-height: 25px;
  background: linear-gradient(
    90.25deg,
    #4285f4 0.22%,
    rgba(217, 101, 112, 0.9) 90.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ------------Resume-------------------------------------------------------------------- */

/* ------------logo-------------------------------------------------------------------- */
.logos {
  display: flex;
  width: 100%;
  height: 50px;
  padding-bottom: 50px;
  justify-content: center;
}
.linkedin,
.Stack,
.GitHub {
  justify-content: center;
  padding-left: 10px;
  width: 50px;
  height: 50px;
}
/* ------------logo-------------------------------------------------------------------- */

/* ------------nav-------------------------------------------------------------------- */

/* Estilos para la navegación */
nav .navigation {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea verticalmente */
  background-image: linear-gradient(
    to right,
    rgb(66, 133, 244),
    rgb(217, 101, 112)
  );
  border-radius: 25px;
  padding: 10px 20px; /* Añade un poco más de padding horizontal */
  width: fit-content; /* Se ajusta al contenido */
  margin: 20px auto; /* Da un poco de margen arriba y abajo */
  position: relative; /* Posición relativa por defecto */
  z-index: 10; /* Eleva el z-index para que esté por encima de otros elementos */
}

nav .navigation li {
  display: inline;
}

nav .navigation li a {
  text-decoration: none;
  font-family: "Arial", sans-serif; /* Usa la fuente deseada */
  color: white;
  background: transparent;
  padding: 10px 50px; /* Ajusta el espaciado alrededor de los enlaces */
  border-radius: 15px; /* Redondeado de los enlaces individuales */
}

nav .navigation li a:hover {
  background-color: white; /* Color de fondo al pasar el ratón por encima */
  color: rgb(66, 133, 244); /* Color de texto al pasar el ratón por encima */
  border-radius: 25px; /* Mantiene el redondeado en hover */
}
/* Estilos para la navegación cuando está anclada */
.fixed-nav .navigation {
  width: 55%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centra la navegación */
  border-radius: 25px; /* Opcional: elimina el borde redondeado */
  padding: 10px 0; /* Ajusta el padding para cuando está fijo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  border-radius: 25px;
}

main {
  padding-top: 70px; /* Ajusta este valor según la altura de tu nav */
}
/* ------------nav-------------------------------------------------------------------- */

/* ------------Abaut Me-------------------------------------------------------------------- */
.Abaut_title {
  display: flex;
  width: 50%;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  padding-left: 120px;
  padding-bottom: 30px;
}
.Abaut_title h2 {
  font-size: 40px;
  background: linear-gradient(
    90.25deg,
    #4285f4 0.22%,
    rgba(217, 101, 112, 0.9) 90.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Abaut_text_box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.Abaut_text {
  font-size: 20px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.Abaut_more {
  display: flex;
  border: #050315;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.See_More {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: extra-bold;
  background: none;
  border: none;
  -webkit-background-clip: text;
}
.Abaut_more_box {
  color: white;

  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background: none;
  border: none;
}
/* ------------Abaut Me-------------------------------------------------------------------- */

/* ------------Project-------------------------------------------------------------------- */

.Project_title {
  display: flex;
  width: 50%;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  padding-left: 120px;
  padding-bottom: 30px;
}
.Project_title h2 {
  font-size: 40px;
  background: linear-gradient(
    90.25deg,
    #4285f4 0.22%,
    rgba(217, 101, 112, 0.9) 90.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Title_Tic {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.Title_Tic h3 {
  font-size: 30px;
  background-color: #4285f4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Tic_text_box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.Tic_text {
  font-size: 20px;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.Tic_text a {
  text-decoration: none;
  font-size: 20px;
  color: #4285f4;
  font-family: "Inter", sans-serif;
  font-style: extra-bold;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}
.Project_Abaut_more {
  display: flex;
  border: #050315;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.See_More {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: extra-bold;
  background: none;
  border: none;
  -webkit-background-clip: text;
}
.Project_more_box {
  color: white;

  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background: none;
  border: none;
}
/* ------------Project-------------------------------------------------------------------- */

/* ------------Contact-------------------------------------------------------------------- */
#contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

#contact h2 {
  text-align: center;
  color: #4285f4;
  font-size: 3em;
  margin-bottom: 30px;
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #333;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  border: 3px solid #4285f4;
  border-radius: 15px;
  padding: 10px;
  font-size: 1em;
  outline: none;
}

#contact textarea {
  resize: vertical;
  height: 150px;
}

#contact button {
  display: flex; /* Usamos flexbox para alinear el texto y el ícono */
  align-items: center; /* Centramos los ítems verticalmente */
  justify-content: center; /* Centramos los ítems horizontalmente */
  padding: 15px;
  margin-top: 20px;
  font-size: 1.2em;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Hacemos que el botón ocupe todo el ancho */
}

#contact button:hover {
  background-color: #d96570;
}

#contact .send-icon {
  margin-left: 10px; /* Espacio entre el texto y el ícono */
  width: 20px; /* O un tamaño acorde al diseño de tu ícono */
  height: auto;
}

#contact input[type="text"]:focus,
#contact input[type="email"]:focus,
#contact textarea:focus,
#contact button:focus {
  border-color: #d96570;
  outline: none;
}

/* ------------Contact-------------------------------------------------------------------- */

/* ------------Footer-------------------------------------------------------------------- */
/* ------------Footer-------------------------------------------------------------------- */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #4285f4; /* Un fondo que contraste ligeramente con el body */
  border-top: 1px solid #e1e1e1; /* Un borde superior para definir el footer */
  position: relative;
  bottom: 0;
  width: 100%;
  
}

footer p {
  color: #fff;
  font-size: 1.5em;
  font-family: "Arial", sans-serif;
}

/* Para asegurar que el footer se quede en la parte inferior si el contenido no es suficiente */
/* Puedes quitarlo si prefieres que el footer se posicione justo después del contenido */
html,
body {
  min-height: 100%;
  position: relative;
}

main {
  padding-bottom: 40px; /* Espacio extra para asegurar que el contenido no se superponga con el footer */
}

/* ------------Footer-------------------------------------------------------------------- */

/* ------------background-------------------------------------------------------------------- */

body,
html {
  height: 100%;
  margin: 0;
}

.background {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fbfbfe;
  z-index: -1; /* Asegúrate que el fondo esté detrás de todo el contenido */
}

.ball {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5; /* Reducida para colores menos intensos */
  transition: transform 0.5s ease;
}
/* ------------background-------------------------------------------------------------------- */

/* ------------See More Button-------------------------------------------------------------------- */
/* Estilos base para los botones See More */
.See_More {
  text-decoration: none;
  font-size: 20px;
  color: #4285f4;
  font-family: "Inter", sans-serif;
  font-style: extra-bold;
  background: none;
  border: 2px solid white; /* Añade un borde para cuando no esté 'lleno' */
  padding: 10px 20px; /* Ajusta el padding a tu gusto */
  position: relative; /* Posición relativa para los pseudo-elementos */
  overflow: hidden; /* Asegúrate de que los pseudo-elementos no desborden */
  transition: color 0.3s ease; /* Transición para el cambio de color del texto */
}

/* Efecto de 'llenado' con pseudo-elemento */
.See_More::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(66, 133, 244),
    rgba(217, 101, 112, 0.9)
  );
  z-index: -1;
  transform: scaleX(0); /* Comienza sin 'llenado' */
  transform-origin: left; /* Comienza la transformación desde la izquierda */
  transition: transform 0.5s ease; /* Transición para el efecto de 'llenado' */
}

/* Efecto de 'llenado' al pasar el mouse */
.See_More:hover::before {
  transform: scaleX(1); /* Completa el 'llenado' */
}

/* Cambia el color del texto al pasar el mouse para que contraste con el 'llenado' */
.See_More:hover {
  color: rgb(66, 133, 244);
}

/* Ajustes para cuando el botón está anclado */
.fixed-nav .See_More {
  border-color: rgba(66, 133, 244, 0.7); /* Color de borde más claro */
}
/* Efecto de 'llenado' al pasar el mouse */
.See_More:hover::before {
  transform: scaleX(1); /* Completa el 'llenado' */
}

/* Cambia el color del texto al pasar el mouse para que contraste con el 'llenado' */
.See_More:hover {
  color: white; /* Cambia a blanco en lugar de azul */
}

/* ------------See More Button-------------------------------------------------------------------- */

/* ------------Media buttons-------------------------------------------------------------------- */
/* Base styles for logos */
.linkedin,
.GitHub,
.Stack, .linkedin1, .GitHub1, .Stack1 {
  transition:
    filter 0.3s ease,
    transform 0.3s ease; /* Smooth transition for color and scaling */
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

/* Hover effects for logos */
.linkedin:hover, .linkedin1:hover {
  filter: hue-rotate(90deg); /* Shift the color spectrum by 45 degrees */
  transform: scale(1.3); /* Scale up logo to 110% */
}

.GitHub:hover, .GitHub1:hover {
  filter: hue-rotate(-90deg); /* Shift the color spectrum by -45 degrees */
  transform: scale(1.3); /* Scale up logo to 110% */
}

.Stack:hover, .Stack1:hover {
  filter: hue-rotate(-180deg); /* Shift the color spectrum by 90 degrees */
  transform: scale(1.3); /* Scale up logo to 110% */
}
/* ------------Media buttons-------------------------------------------------------------------- */

.logos1 {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: end;
  padding-right: 30px;
}
.linkedin1,
.Stack1,
.GitHub1 {
  color: white;
  padding-right: 20px;
  justify-content: start;
  width: 50px;
  height: 50px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
@media (max-width: 700px) {
  .start {
    width: 80%;
    display: flex;
    padding-left: 40px;
    padding-top: 10%;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-style: extra-bold;
  }
  
  .Title_start {
  }
  .Title1 {
    margin-left: 30px;
  
    font-weight: 500px;
    font-size: 45px;
    background-image: linear-gradient(
      to right,
      rgb(66, 133, 244),
      rgb(217, 101, 112)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .subtitle1 {
    font-weight: 800;

    width: 379px;
    left: 350px;
    top: 187px;
    font-style: italic;
  
    font-weight: 800;
    font-size: 2em;
    line-height: 58px;
  
    color: #050315;
  
    backdrop-filter: blur(2px);
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
  .subtitle2 {
    position: flex;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
    line-height: 58px;
    /* identical to box height */
  
    color: #050315;
  }
  .Computer {
    margin-left: 30px;
  
    font-weight: 800;
    font-size: 40px;
    line-height: 77px;
    background: linear-gradient(
      90.25deg,
      #4285f4 0.22%,
      rgba(217, 101, 112, 0.9) 90.37%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .Resume_box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .Resume {
    display: flex;
    cursor: pointer;
    /* Añadido para alinear verticalmente el texto y la imagen */
    justify-content: center;
    align-items: center;
    background: none;
    transition: transform 0.3s ease; /* Añade una transición suave al efecto de zoom */
  }
  .Resume:hover {
    transform: scale(
      1.1
    ); /* Aumenta el tamaño del botón un 10% al pasar el mouse sobre él */
  }
  .logo_resume {
    width: 30px;
  }
  
  .resume_text {
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    padding-left: 10px;
    font-size: 21px;
    line-height: 25px;
    background: linear-gradient(
      90.25deg,
      #4285f4 0.22%,
      rgba(217, 101, 112, 0.9) 90.37%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* ------------Resume-------------------------------------------------------------------- */
  
  /* ------------logo-------------------------------------------------------------------- */
  .logos {
    display: flex;
    width: 100%;
    height: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }
  .linkedin,
  .Stack,
  .GitHub {
    justify-content: center;
    padding-left: 10px;
    width: 50px;
    height: 50px;
  }
  /* ------------logo-------------------------------------------------------------------- */
  
  /* ------------nav-------------------------------------------------------------------- */
  
  /* Estilos para la navegación */
  nav .navigation {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente */
    background-image: linear-gradient(
      to right,
      rgb(66, 133, 244),
      rgb(217, 101, 112)
    );
    border-radius: 25px;
    padding: 5px 5px; /* Añade un poco más de padding horizontal */
    width: fit-content; /* Se ajusta al contenido */
    margin: auto auto; /* Da un poco de margen arriba y abajo */
    position: relative; /* Posición relativa por defecto */
    z-index: 1000; /* Eleva el z-index para que esté por encima de otros elementos */
  }
  
  nav .navigation li {
    display: inline;
  }
  
  nav .navigation li a {
    text-decoration: none;
    font-family: "Arial", sans-serif; /* Usa la fuente deseada */
    color: white;
    background: transparent;
    padding: 5px 10px; /* Ajusta el espaciado alrededor de los enlaces */
    border-radius: 15px; /* Redondeado de los enlaces individuales */
  }
  
  nav .navigation li a:hover {
    background-color: white; /* Color de fondo al pasar el ratón por encima */
    color: rgb(66, 133, 244); /* Color de texto al pasar el ratón por encima */
    border-radius: 25px; /* Mantiene el redondeado en hover */
  }
  /* Estilos para la navegación cuando está anclada */
  .fixed-nav .navigation {
    width: 100%;
    position: fixed;
    top: 0;
    
    transform: translateX(-50%); /* Centra la navegación */
    border-radius: 25px; /* Opcional: elimina el borde redondeado */
    padding: 5px; /* Ajusta el padding para cuando está fijo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    border-radius: 25px;
  }
  
  main {
    padding-top: 70px; /* Ajusta este valor según la altura de tu nav */
  }
  /* ------------nav-------------------------------------------------------------------- */
  
  /* ------------Abaut Me-------------------------------------------------------------------- */
  .abautMe {
    display: grid;
    width: 100%;

  }
  .Abaut_title {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    padding-left: 120px;
    padding-bottom: 30px;
  }
  .Abaut_title h2 {
    font-size: 40px;
    background: linear-gradient(
      90.25deg,
      #4285f4 0.22%,
      rgba(217, 101, 112, 0.9) 90.37%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .Abaut_text_box {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 10%;
  }
  .Abaut_text {
    font-size: 20px;
    display: flex;
    width: 93%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .Abaut_more {
    display: flex;
    border: #050315;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  .See_More {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: extra-bold;
    background: none;
    border: none;
  }
  .Abaut_more_box {
    color: rgb(0, 0, 0);
  
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background: none;
    
  }
  /* ------------Abaut Me-------------------------------------------------------------------- */
  
  /* ------------Project-------------------------------------------------------------------- */
  
  .Project_title {
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    padding-left: 120px;
    padding-bottom: 30px;
  }
  .Project_title h2 {
    font-size: 40px;
    background: linear-gradient(
      90.25deg,
      #4285f4 0.22%,
      rgba(217, 101, 112, 0.9) 90.37%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .Title_Tic {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .Title_Tic h3 {
    width: 100%;
    padding-left: 30px;
    font-size: 25px;
    background-color: #4285f4;
  }
  .Tic_text_box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .Tic_text {
    font-size: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .Tic_text a {
    text-decoration: none;
    font-size: 20px;
    color: #4285f4;
    font-family: "Inter", sans-serif;
    font-style: extra-bold;
    background: none;
    border: none;
    transition: transform 0.3s ease;
  }
  .Project_Abaut_more {
    display: flex;
    border: #050315;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  .See_More {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: extra-bold;
    background: none;
    border: none;
    -webkit-background-clip: text;
  }
  .Project_more_box {
    color: white;
  
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background: none;
    border: none;
  }
  /* ------------Project-------------------------------------------------------------------- */
  
  /* ------------Contact-------------------------------------------------------------------- */
  #contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
  }
  
  #contact h2 {
    text-align: center;
    color: #4285f4;
    font-size: 3em;
    margin-bottom: 30px;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
  }
  
  #contact label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #333;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    border: 3px solid #4285f4;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    outline: none;
  }
  
  #contact textarea {
    resize: vertical;
    height: 150px;
  }
  
  #contact button {
    display: flex; /* Usamos flexbox para alinear el texto y el ícono */
    align-items: center; /* Centramos los ítems verticalmente */
    justify-content: center; /* Centramos los ítems horizontalmente */
    padding: 15px;
    margin-top: 20px;
    font-size: 1.2em;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Hacemos que el botón ocupe todo el ancho */
  }
  
  #contact button:hover {
    background-color: #d96570;
  }
  
  #contact .send-icon {
    margin-left: 10px; /* Espacio entre el texto y el ícono */
    width: 20px; /* O un tamaño acorde al diseño de tu ícono */
    height: auto;
  }
  
  #contact input[type="text"]:focus,
  #contact input[type="email"]:focus,
  #contact textarea:focus,
  #contact button:focus {
    border-color: #d96570;
    outline: none;
  }
  
  /* ------------Contact-------------------------------------------------------------------- */
  
  /* ------------Footer-------------------------------------------------------------------- */
  /* ------------Footer-------------------------------------------------------------------- */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4285f4; /* Un fondo que contraste ligeramente con el body */
    border-top: 1px solid #e1e1e1; /* Un borde superior para definir el footer */
    position: relative;
    bottom: 0;
    width: 100%;
    
  }
  
  footer p {
    color: #fff;
    font-size: 1.5em;
    font-family: "Arial", sans-serif;
  }
  
  /* Para asegurar que el footer se quede en la parte inferior si el contenido no es suficiente */
  /* Puedes quitarlo si prefieres que el footer se posicione justo después del contenido */
  html,
  body {
    min-height: 100%;
    position: relative;
  }
  
  main {
    padding-bottom: 40px; /* Espacio extra para asegurar que el contenido no se superponga con el footer */
  }
  
  /* ------------Footer-------------------------------------------------------------------- */
  
  /* ------------background-------------------------------------------------------------------- */
  
  body,
  html {
    height: 100%;
    margin: 0;
  }
  
  .background {
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fbfbfe;
    z-index: -1; /* Asegúrate que el fondo esté detrás de todo el contenido */
  }
  
  .ball {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5; /* Reducida para colores menos intensos */
    transition: transform 0.5s ease;
  }
  /* ------------background-------------------------------------------------------------------- */
  
  /* ------------See More Button-------------------------------------------------------------------- */
  /* Estilos base para los botones See More */
  .See_More {
    text-decoration: none;
    font-size: 20px;
    color: #4285f4;
    font-family: "Inter", sans-serif;
    font-style: extra-bold;
    background: none;
    border: 2px solid white; /* Añade un borde para cuando no esté 'lleno' */
    padding: 10px 20px; /* Ajusta el padding a tu gusto */
    position: relative; /* Posición relativa para los pseudo-elementos */
    overflow: hidden; /* Asegúrate de que los pseudo-elementos no desborden */
    transition: color 0.3s ease; /* Transición para el cambio de color del texto */
  }
  
  /* Efecto de 'llenado' con pseudo-elemento */
  .See_More::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgb(66, 133, 244),
      rgba(217, 101, 112, 0.9)
    );
    z-index: -1;
    transform: scaleX(0); /* Comienza sin 'llenado' */
    transform-origin: left; /* Comienza la transformación desde la izquierda */
    transition: transform 0.5s ease; /* Transición para el efecto de 'llenado' */
  }
  
  /* Efecto de 'llenado' al pasar el mouse */
  .See_More:hover::before {
    transform: scaleX(1); /* Completa el 'llenado' */
  }
  
  /* Cambia el color del texto al pasar el mouse para que contraste con el 'llenado' */
  .See_More:hover {
    color: rgb(66, 133, 244);
  }
  
  /* Ajustes para cuando el botón está anclado */
  .fixed-nav .See_More {
    border-color: rgba(66, 133, 244, 0.7); /* Color de borde más claro */
  }
  /* Efecto de 'llenado' al pasar el mouse */
  .See_More:hover::before {
    transform: scaleX(1); /* Completa el 'llenado' */
  }
  
  /* Cambia el color del texto al pasar el mouse para que contraste con el 'llenado' */
  .See_More:hover {
    color: white; /* Cambia a blanco en lugar de azul */
  }
  
  /* ------------See More Button-------------------------------------------------------------------- */
  
  /* ------------Media buttons-------------------------------------------------------------------- */
  /* Base styles for logos */
  .linkedin,
  .GitHub,
  .Stack, .linkedin1, .GitHub1, .Stack1 {
    transition:
      filter 0.3s ease,
      transform 0.3s ease; /* Smooth transition for color and scaling */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
  }
  
  /* Hover effects for logos */
  .linkedin:hover, .linkedin1:hover {
    filter: hue-rotate(90deg); /* Shift the color spectrum by 45 degrees */
    transform: scale(1.3); /* Scale up logo to 110% */
  }
  
  .GitHub:hover, .GitHub1:hover {
    filter: hue-rotate(-90deg); /* Shift the color spectrum by -45 degrees */
    transform: scale(1.3); /* Scale up logo to 110% */
  }
  
  .Stack:hover, .Stack1:hover {
    filter: hue-rotate(-180deg); /* Shift the color spectrum by 90 degrees */
    transform: scale(1.3); /* Scale up logo to 110% */
  }
  /* ------------Media buttons-------------------------------------------------------------------- */
  
  .logos1 {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: end;
    padding-right: 30px;
  }
  .linkedin1,
  .Stack1,
  .GitHub1 {
    color: white;
    padding-right: 20px;
    justify-content: start;
    width: 50px;
    height: 50px;
  }


}

body {
  font-family: "Inter", sans-serif;
  font-style: extra-bold;
  font-size: 20px;
  color: #050315;
  background-color: #fbfbfe;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}	