body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  * {
    margin: 0;
    padding: 0;
  }

.logo_box {


    display: flex;
    width: 100%;
    justify-content: start;
    background: none;
    border: none;
    color: transparent;
}
  .logo {
    justify-content: start;
    top: 0%;
    left: 0%;
    font-family: "Island Moments";
    background: none;
    border: none;
    color: transparent;
    font-size: 2.5em;
    padding: 0.5em 1em;
  
    background-image: linear-gradient(
      to right,
      rgb(66, 133, 244),
      rgb(217, 101, 112)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  nav .navigation {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente */
    background-image: linear-gradient(
      to right,
      rgb(66, 133, 244),
      rgb(217, 101, 112)
    );
    border-radius: 25px;
    padding: 10px 20px; /* Añade un poco más de padding horizontal */
    width: fit-content; /* Se ajusta al contenido */
    margin: 20px auto; /* Da un poco de margen arriba y abajo */
    position: relative; /* Posición relativa por defecto */
    z-index: 10; /* Eleva el z-index para que esté por encima de otros elementos */
  }
  
  nav .navigation li {
    display: inline;
  }
  
  nav .navigation li a {
    text-decoration: none;
    font-family: "Arial", sans-serif; /* Usa la fuente deseada */
    color: white;
    background: transparent;
    padding: 10px 50px; /* Ajusta el espaciado alrededor de los enlaces */
    border-radius: 15px; /* Redondeado de los enlaces individuales */
  }
  
  nav .navigation li a:hover {
    background-color: white; /* Color de fondo al pasar el ratón por encima */
    color: rgb(66, 133, 244); /* Color de texto al pasar el ratón por encima */
    border-radius: 25px; /* Mantiene el redondeado en hover */
  }
  /* Estilos para la navegación cuando está anclada */
  .fixed-nav .navigation {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Centra la navegación */
    width: 65%; /* Extiende la navegación a lo ancho */
    border-radius: 25px; /* Opcional: elimina el borde redondeado */
    padding: 10px 0; /* Ajusta el padding para cuando está fijo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    border-radius: 25px;
  }
  
  main {
    padding-top: 70px; /* Ajusta este valor según la altura de tu nav */
  }