body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
  * {
    margin: 0;
    padding: 0;
  }

  body,
html {
  height: 100%;
  margin: 0;
}


@media screen and (max-width: 700px) {
  /* Tus estilos van aquí */
   /* Resto del CSS... */
.box_navi {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos generales para la navegación */
nav .navigation {
   /* Ancho de la barra de navegación */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding:  0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparente para un efecto más ligero */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
  backdrop-filter: blur(10px); /* Efecto de desenfoque para el fondo */
  border-radius: 15px; /* Bordes redondeados para suavizar */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

/* Efectos para los elementos de lista */
nav .navigation li {
  margin: 0 5px; /* Espaciado horizontal entre elementos */
}

/* Estilos para los enlaces */
nav .navigation li a {
  text-decoration: none;
  font-family: inter, extra-bold;
  font-size: 1rem;
  color: rgb(66, 133, 244);
  padding: 20px 5px;
  border-radius: 15px;
  transition: all 0.3s ease; /* Transición suave para cambios en hover */
}
.box_navi {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Efectos de hover para los enlaces */
nav .navigation li a:hover {
  color: white;
  background-image: linear-gradient(135deg, rgb(66, 133, 244), rgb(217, 101, 112));
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada en hover */
}
.fixed-nav .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que la navegación esté por encima de otros elementos */
  width: 90%; /* Permite que la barra de navegación se ajuste al ancho */
  border-radius: 15px; /* Bordes rectos cuando está fija en la parte superior */
  height: 50%;
}
.box_navi.fixed-nav .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 90%;
  /* Resto de tus estilos */
}
.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}
}

.burger-menu {
  display: none; /* Oculta el botón por defecto */
}

.tema_title {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 30px;
}
.tema_title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 4.5em;
  background: linear-gradient(
    90.25deg,
    #4285f4 0.22%,
    rgba(217, 101, 112, 0.9) 90.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 900px) {
  
/* Estilos para el botón del menú hamburguesa */
.burger-menu {
  display: block; /* Mostramos el botón en pantallas pequeñas */

  background-color: transparent;
  border: none;
  font-size: 2rem; /* Ajusta el tamaño si es necesario */
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20; /* Asegúrate de que tenga un z-index suficiente para estar sobre otros elementos */
}

/* Estilos para contenedor de navegación */
.navigation-container {
  display: none; /* Oculto por defecto */
  position: fixed; /* Cambiado a fijo para mantener la posición */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe el ancho completo */
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  overflow-y: auto; /* Permite el desplazamiento dentro del menú si es necesario */
}

/* Ajustes para que el menú ocupe el 100% cuando se muestre */
.navigation {
  flex-direction: column; /* Mantener horizontal */
  justify-content: flex-start;
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 100%; /* Asegura que no exceda el alto de la pantalla */
}
.navigation li {
  
  width: 100%; /* Cada elemento ocupa el 100% del ancho */
  text-align: center; /* Centramos el texto */
}
nav .navigation li a {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: inter, extra-bold;
  font-size: 2.5rem;
  color: rgb(66, 133, 244);
  padding: 0px 0px;
  border-radius: 25px;
  transition: all 0.3s ease; /* Transición suave para cambios en hover */
}
/* Estilos para pantallas pequeñas */

.navigation-container {
  height: 40vh
}
.tema_title {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.tema_title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 3em;
  background: linear-gradient(
    90.25deg,
    #4285f4 0.22%,
    rgba(217, 101, 112, 0.9) 90.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
}

