html, body {
  overflow-x: hidden;
  
}
.language-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .language-selection h2 {
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgb(66, 133, 244), rgb(217, 101, 112));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Asegúrate de incluir la fuente en tu HTML si optas por Roboto o cualquier otra fuente personalizada */
  }
  
  .language-selection button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(to right, rgb(66, 133, 244), rgb(217, 101, 112));
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .language-selection button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
  