body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
  * {
    margin: 0;
    padding: 0;
  }

  body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;

}

.background {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fbfbfe;
  z-index: -1; /* Asegúrate que el fondo esté detrás de todo el contenido */
}

.ball {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5; /* Reducida para colores menos intensos */
  transition: transform 0.5s ease;
}
 /* Resto del CSS... */
.box_navi {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos generales para la navegación */
nav .navigation {
   /* Ancho de la barra de navegación */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparente para un efecto más ligero */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
  backdrop-filter: blur(10px); /* Efecto de desenfoque para el fondo */
  border-radius: 15px; /* Bordes redondeados para suavizar */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

/* Efectos para los elementos de lista */
nav .navigation li {
  margin: 0 20px; /* Espaciado horizontal entre elementos */
}

/* Estilos para los enlaces */
nav .navigation li a {
  text-decoration: none;
  font-family: inter, extra-bold;
  font-size: 1.2rem;
  color: rgb(66, 133, 244);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease; /* Transición suave para cambios en hover */
}
.box_navi {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Efectos de hover para los enlaces */
nav .navigation li a:hover {
  color: white;
  background-image: linear-gradient(135deg, rgb(66, 133, 244), rgb(217, 101, 112));
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
}

/* Estilos fijos cuando se desplaza */
.fixed-nav .navigation {
  position: fixed;
  top: 0;
  left: 17em;
  right: 0;
  z-index: 1000; /* Asegura que la navegación esté por encima de otros elementos */
  width: 64%; /* Permite que la barra de navegación se ajuste al ancho */
  border-radius: 15; /* Bordes rectos cuando está fija en la parte superior */
}


/* Resto del CSS... */

  main {
    padding-top: 70px; /* Ajusta este valor según la altura de tu nav */
  }
/* Base styles for logos */
.linkedin,
.GitHub,
.Stack, .linkedin1, .GitHub1, .Stack1 {
  transition:
    filter 0.3s ease,
    transform 0.3s ease; /* Smooth transition for color and scaling */
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

/* Hover effects for logos */
.linkedin:hover, .linkedin1:hover {
  filter: hue-rotate(90deg); /* Shift the color spectrum by 45 degrees */
  transform: scale(1.3); /* Scale up logo to 110% */
}

.GitHub:hover, .GitHub1:hover {
  filter: hue-rotate(-90deg); /* Shift the color spectrum by -45 degrees */
  transform: scale(1.3); /* Scale up logo to 110% */
}

.Stack:hover, .Stack1:hover {
  filter: hue-rotate(-180deg); /* Shift the color spectrum by 90 degrees */
  transform: scale(1.3); /* Scale up logo to 110% */
}
/* ------------Media buttons-------------------------------------------------------------------- */

.logos1 {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: end;
  padding-right: 30px;
}
.linkedin1,
.Stack1,
.GitHub1 {
  color: white;
  padding-right: 20px;
  justify-content: start;
  width: 50px;
  height: 50px;
}

body,
html {
  height: 100%;
  margin: 0;
}

.background {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fbfbfe;
  z-index: -1; /* Asegúrate que el fondo esté detrás de todo el contenido */
}

.ball {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5; /* Reducida para colores menos intensos */
  transition: transform 0.5s ease;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #4285f4; /* Un fondo que contraste ligeramente con el body */
  border-top: 1px solid #e1e1e1; /* Un borde superior para definir el footer */
  position: relative;
  bottom: 0;
  width: 100%;
  
}

footer p {
  color: #fff;
  font-size: 1.5em;
  font-family: "Arial", sans-serif;
}


.grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.grid div img {
  max-width: 200px;
}

.grid div p {
  font-family: "Inter", sans-serif;
  font-style: bold;  
  line-height: 1.5;

}

.grid div h2 {
  font-family: "Inter", sans-serif;
  font-style: extra-bold;
}



#overlay {
  position: fixed; /* Posicionamiento fijo en toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  z-index: 1000; /* Asegúrate de que el overlay esté sobre otros elementos */
}

#overlayContent img {
  max-width: 80%; /* Máximo ancho de la imagen */
  max-height: 80%; /* Máximo alto de la imagen */
}


@media screen and (max-width: 900px) {
  /* Tus estilos van aquí */
   /* Resto del CSS... */
.box_navi {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos generales para la navegación */
nav .navigation {
   /* Ancho de la barra de navegación */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding:  0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparente para un efecto más ligero */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
  backdrop-filter: blur(10px); /* Efecto de desenfoque para el fondo */
  border-radius: 15px; /* Bordes redondeados para suavizar */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

/* Efectos para los elementos de lista */
nav .navigation li {
  margin: 0 5px; /* Espaciado horizontal entre elementos */
}

/* Estilos para los enlaces */
nav .navigation li a {
  text-decoration: none;
  font-family: inter, extra-bold;
  font-size: 1rem;
  color: rgb(66, 133, 244);
  padding: 20px 5px;
  border-radius: 25px;
  transition: all 0.3s ease; /* Transición suave para cambios en hover */
}
.box_navi {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Efectos de hover para los enlaces */
nav .navigation li a:hover {
  color: white;
  background-image: linear-gradient(135deg, rgb(66, 133, 244), rgb(217, 101, 112));
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada en hover */
}
.fixed-nav .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que la navegación esté por encima de otros elementos */
  width: 90%; /* Permite que la barra de navegación se ajuste al ancho */
  border-radius: 15px; /* Bordes rectos cuando está fija en la parte superior */
  height: 30px;
}
.box_navi.fixed-nav .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 90%;
  /* Resto de tus estilos */
}
.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}
}

.burger-menu {
  display: none; /* Oculta el botón por defecto */
}
@media screen and (max-width: 900px) {
  
/* Estilos para el botón del menú hamburguesa */
.burger-menu {
  display: block; /* Mostramos el botón en pantallas pequeñas */

  background-color: transparent;
  border: none;
  font-size: 2rem; /* Ajusta el tamaño si es necesario */
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20; /* Asegúrate de que tenga un z-index suficiente para estar sobre otros elementos */
}

/* Estilos para contenedor de navegación */
.navigation-container {
  display: none; /* Oculto por defecto */
  position: fixed; /* Cambiado a fijo para mantener la posición */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe el ancho completo */
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  overflow-y: auto; /* Permite el desplazamiento dentro del menú si es necesario */
}

/* Ajustes para que el menú ocupe el 100% cuando se muestre */
.navigation {
  flex-direction: column; /* Mantener horizontal */
  justify-content: flex-start;
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 100%; /* Asegura que no exceda el alto de la pantalla */
}
.navigation li {
  
  width: 100%; /* Cada elemento ocupa el 100% del ancho */
  text-align: center; /* Centramos el texto */
}
nav .navigation li a {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: inter, extra-bold;
  font-size: 1.5rem;
  color: rgb(66, 133, 244);
  padding: 0px 0px;
  border-radius: 25px;
  transition: all 0.3s ease; /* Transición suave para cambios en hover */
}
/* Estilos para pantallas pequeñas */

.navigation-container {
  height: 20vh
}


}