/* Resume */

position: absolute;
width: 307px;
height: 57px;
left: 553px;
top: 531px;

/* Rectangle 12 */

box-sizing: border-box;

position: absolute;
width: 307px;
height: 57px;
left: 553px;
top: 531px;

border-radius: 10px;

/* Vector */

position: absolute;
left: 40%;
right: 58.75%;
top: 22.62%;
bottom: 76.64%;

/* Download My Resume */

position: absolute;
width: 230px;
height: 25px;
left: 609px;
top: 547px;

font-family: "Inter";
font-style: italic;
font-weight: 800;
font-size: 21px;
line-height: 25px;

/* titular */
background: linear-gradient(
  90.25deg,
  #4285f4 0.22%,
  rgba(217, 101, 112, 0.9) 90.37%
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
